# Dependencies
node_modules

# Environment
.env
.env.local

# Generated
/generated/prisma

# Old public uploads
/public/orderuploads
/public/productuploads

# === MAIN: LOCAL UPLOADS FOLDER ===
uploads/
upload/
src/uploads/
backend/uploads/

config/ga4-key.json
*.json

# Media files (optional safety)
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.svg
*.pdf
*.mp4